<div class="h-[187px] bg-theme text-white flex justify-center items-center">
  <p class="text-[24px] tracking-[2.4px] mr-[230px]">
    The F2E <span class="text-[42px] tracking-[4.2px]">5</span>th 前端 & UI
    修煉精神時光屋
  </p>
  <div class="flex justify-center items-center text-[24px] tracking-[2.4px]">
    <div class="flex flex-col justify-center items-center mr-32">
      <span
        class="flex justify-center items-center border-b border-white pb-2 px-4"
        >團隊名稱</span
      >
      <span class="flex justify-center items-center">S K Y</span>
    </div>
    <div class="flex justify-start items-center text-[20px] text-[#DFDFDF]">
      <p class="mr-10">
        / 前端工程師<br />
        / 前端工程師<br />
        / UI設計師
      </p>
      <p>
        Yilee<br />
        kuohua<br />
        Gloria su
      </p>
    </div>
  </div>
</div>
